<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/game">🏀 Basketball Sim</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="game">
                <span class="bi bi-controller-nav-menu" aria-hidden="true"></span> Game Sim
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lab">
                <span class="bi bi-graph-up-nav-menu" aria-hidden="true"></span> Sim Lab
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dist">
                <span class="bi bi-bar-chart-nav-menu" aria-hidden="true"></span> Attr Dist
            </NavLink>
        </div>
    </nav>
</div>
